@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --bg: #F3F1FF;
    --bg-header: #32385A;
    --bg-card: #fff;
    --bg-linear: linear-gradient(to bottom, #F54162, #F8544A);
    --box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    --btn-shadow: box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --fz-heading: 6rem;
    --fz-title: 2rem;
    --fz-para: 1.2rem;
    --ff-title: 'Poppins', sans-serif;
    --ff-para:  'David Libre', serif;
    --fc: #fff;
    --fc-title: #161616;
    --fc-para: #6c6c6c;
    --fw400: 400;
    --fw500: 500;
    --fw600: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-title);
}
html{
    font-size: 62.5%;
    background: var(--bg);
    scroll-behavior: smooth;
}
body{
    width: 100%;
    
}
header{
    background: var(--bg-header);
}
header .container{
    max-width: 1160px;
    margin: 0 auto;
}

/* navbar start */
header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
}
header .nav a{
    text-decoration: none;
    color: var(--fc);
    font-size: var(--fz-para);
    margin: 0 2rem;
    font-weight: var(--fw400);
}
.btn{
    color: var(--fc);
    background: var(--bg-linear);
    font-size: var(--fz-para);
    padding: 0.7rem 2rem;
    font-weight: var(--fw400);
    border-width: 0;
}
.btn:hover{
    box-shadow: var(--btn-shadow);
    transform: scale(0.9);
    transition: all 0.2s linear;
}
section button{
    margin-left: 2rem;
}
.btn i{
    padding: 0 1rem;
}
/* navbar done  */

/* section start  */
section{
    display: flex;
    align-items: center;
}
section .sec_heading {
    color: var(--fc);
    font-size: var(--fz-heading);
    margin: 0 2rem;
    font-weight: var(--fw600);
}
section .section_logo{
    margin: 0 auto;
}
/* player content  */
section .section_logo .player img{
    width: 35rem;
    transform: rotate(-50deg) ;
}
section:hover .player img{
    transform: rotate(20deg);
    transition: all 0.2s ease-in;
}
/* ball content */
section .section_logo .ball img{
    width: 7rem;
    position: relative;
    top: -47rem;
    right: -15rem;
}
section:hover .ball img{
    transform: translate( 70rem, 8rem);
    transition: all 0.5s ease-out 0.2s;
}
/* section done  */

/* article start  */
article.card_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    grid-row-gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 7rem 0;
}
/* card content start  */
.card_wrapper .player_card{
    width: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-card);
    box-shadow: var(--box-shadow);
}
.card_wrapper .player_card img{
    width: 22rem;
    height: 22rem;
    padding-top: 1rem;
    background-size: cover;
}
.card_wrapper .player_card .card_content{
    width: 20rem;
}
/* card title  */
.card_wrapper .player_card h2{
    font-size: var(--fz-title);
    font-weight: var(--fw600);
    padding: 1rem 1rem 0 1rem;
    color: var(--fc-title)
}
/* card paragraph */
.card_wrapper .player_card p{
    font-size: var(--fz-para);
    font-weight: var(--fw500);
    padding: 1rem;
    color: var(--fc-para);
    font-family: var(--ff-para);
}
/* article end  */

/* highlights start  */
article.highlight{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 30rem);
    justify-content: center;
    grid-gap: 4rem;
    align-items: center;
}

/* whole content  */
.highlight .highlight_content{
    display: flex;
    flex-direction: column;
    
}
/* title  */
.highlight .highlight_content  h2{
    font-size: var(--fz-title);
    font-weight: var(--fw600);
    padding: 1rem;
    color: #0A0826;
    
}
/* text  */
.highlight .highlight_content p{
    font-size: var(--fz-para);
    font-weight: var(--fw500);
    font-family: var(--ff-para);
    padding: 1rem;
}
/* btn  */
.highlight .highlight_content button.btn{
    margin: 0 1rem;
    font-size: var(--fz-para);
}
.highlight img{
    width: 30rem;
}
/* highlights end  */

/* leaderboard start  */
article.leaderboard{
    margin-top: 7rem;
    text-align: center;
}
.leaderboard h1{
    font-size: var(--fz-title);
    font-weight: var(--fw600);
    margin-bottom: 4rem;
}
/* all scorers  */
.leaderboard .scorers_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    justify-content: center;
    grid-gap: 2rem;
    margin: 2rem;
}
/* top players  */
.scorers_wrapper .top_score {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--fc);
    padding: 1.5rem 0;
    line-height: 2rem;
    box-shadow: var(--box-shadow);
}
.scorers_wrapper .top_score img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.scorers_wrapper .top_score .score{
    color: var(--fc-para)
}
/* leaderboard end  */

/* contact start  */
article.contact {
    text-align: center;
    margin: 7rem 0;
    font-size: var(--fz-para);
}
/* all contact  */
.contact .card_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-row-gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 7rem 0;
}
/* con icon  */
.contact .card .icon{
    font-size: 4rem;
    margin-bottom: 1rem;
}
/* con address  */
.contact .card h6{
    font-size: var(--fz-para);
    color: var(--fc-para)
}
/* form  */
.contact form {
    display: grid;
}
/* name email  */
.contact .input_wrapper {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 17rem);
}
/* sub msg  */
.contact .input_wrapper2 {
    display: grid;
    grid-template-columns: repeat(1, 35rem);
    grid-gap: 1rem;
    justify-content: center;
    margin: 1rem 0;
}
/* inp txarea  */
input, textarea{
    border-width: 0;
    padding: 0.5rem;
    font-size: 1rem;
}
/* hocus focus  */
input:focus, textarea:focus{
    outline: none;
}
/* btn  */
.contact button{
    padding: 0.2rem 1rem;
    font-size: 1rem;
}
/* contact end  */

/* footer start  */
footer {
    background: var(--fc-title);
    display: grid;
    justify-content: center;
    margin-top: 2rem;
    
}
/* logo  */
footer img{
    width: 30rem;
    padding: 4rem 0;
}
/* icon div  */
footer .footer_socials {
    text-align: center;
}
/* icon  */
footer .footer_socials a{
    font-size: var(--fz-title);
    color: var(--fc);
    margin: 0.7rem;
    
}
/* & copy;  */
footer .footer_copyright{
    text-align: center;
    color: var(--fc-para);
    font-size: var(--fz-para);
    padding-bottom: 4rem;
}
/* footer end  */